[submodule "lab15_task1"]
	path = lab15_task1
	url = https://github.com/ShlyapnikEgoist/dosm_lab15_task1
[submodule "reports"]
	path = reports
	url = https://github.com/ShlyapnikEgoist/dosm_reports.git
[submodule "lab15_task2"]
	path = lab15_task2
	url = https://github.com/ShlyapnikEgoist/dosm_lab15_task2
[submodule "lab16_task1"]
	path = lab16_task1
	url = https://github.com/ShlyapnikEgoist/dosm_lab16_task1
